
body{
  width: 100vw;
}

main{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.taginp{
  padding: 0.4rem 1.2rem;
  border-radius: 5000px;
  width: 18rem;
  border: 0.7px solid #0d6efd;
  outline: none;
  text-align: center;
}

.taginp:hover{
  box-shadow: 0px 0px 0px 5px #0D6EFD70;
  transition: 0.3s ease-in;
}

::placeholder{
  color: #0D6EFD70;
  text-align: center;
  text-shadow: -0.2px -0.2px 0px #0D6EFD70, 0.2px 0.2px 0px #0D6EFD70;
}

form div button{
  background: #0dcaf0 ;
  color: #fff ;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 2px;
  box-shadow: 0px 0px 0.5px 0.5px #0dcaf0;
  transition: all 0.5s ease;
}

form div button:hover{
  box-shadow: inset 0.5px 0.5px 2px #000000A6;
}

.ASButton svg{
  transition: transform 0.4s;
}

@media(min-width:800px){
  #taginp{
    width: 28rem;
  }
}
